<!doctype html>
<html>

<head>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        'mapsApiKey': 'AIzaSyAErPa0emGB3-a_BrcVe-9iNy6r0kpGw-E'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable({{world_data|safe}});

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }

      $(document).ready(function() {
  setInterval(function() {
    cache_clear()
  }, 3000);
});

function cache_clear() {
  <!--window.location.reload(true);-->
  drawRegionsMap()
  // window.location.reload(); use this if you do not remove cache
}
    </script>
</head>

<body>


    <div id="regions_div" style="width: 80%; height: 80%;"></div>

</body>




</html>