<!doctype html>
<html>

<head>


</head>

<body>

    <!--TODO customise-->
    <div id="line_id"></div>


    <div id="bar_id"></div>


    <div id="map"></div>




</body>


<footer>



    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.static -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">
        var graphs = {{graphJSON | safe}};

        for(var id in graphs) {
            Plotly.plot(id, // the ID of the div, created above
                        graphs[id].data,
                        graphs[id].layout || {});
        }
    </script>



</footer>

</html>